body{
    background-color: pink;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
}
.question {
    font-size: 24px;
    margin-bottom: 20px;
}
.question2 {
    font-size: 24px;
}
.years {
    font-size: 18px;
    margin-left:10px;
    display: flex;
    gap: 130px;  /* Space between paragraphs */
    max-width: 500px;
    
}

.button-container {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.yes-btn {
    background-color: #4CAF50;
    color: white;
}

.no-btn {
    background-color: #f44336;
    color: white;
}

.m-btn {
    background-color: white;
    color: black;
}

.check-btn {
    background-color: white;
    color: white;
    padding: 5px 15px
}

.slider-container {
    width: 500px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

}

.slider-handle {
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
    transition: left 0.5s ease-out;
}

.slider-handle:active {
    cursor: grabbing;
    transition: none;
}

#countdown {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes float {
    from { transform: translateY(0px); }
    to { transform: translateY(-10px); }
}

.loveButton {
    padding: 5px 5px;
    font-size: 25px;
    border-radius: 20px;
    background-color:lightsalmon;
}

.counter{
    display: flex;
    gap: 10px;
}

.count {
    color: #d32f2f;
    font-size: 30px;
    font-weight: bold;
}